@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #fff7ed;
  overflow-x: hidden;
  width: 100%;
}
